body{
margin:0;
font-family:Arial;
background:#0b0b10;
color:white;
}

header{
padding:15px;
background:#111;
text-align:center;
}

.panel{
padding:10px;
background:#161620;
}

input{
display:block;
width:90%;
margin:5px;
padding:10px;
}

button{
padding:10px;
background:#9d4edd;
color:white;
border:none;
}
